<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>New Puppy</title>
</head>
<body>
  <form class="" action="/" method="post">
            <p><input type="text" name="name" value="Name"></p>
            <p><input type="text" name="breed" value="Breed"></p>
            <p><input type="text" name="age" value="Age"></p>
            <p><input type="submit" name="submit" value="submit"></p>
        </form>
</body>
  </html>
