<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
    <body>
      <h1>Welcome! Are you ready to adopt a puppy?</h1>
      <p><a href="/new">Click Here To List A Puppy</a></p>
      <h2>Puppy Name:<%= params[:name] %></h2>
      <h2>Puppy Breed:<%= params[:breed] %></h2>
      <h2>Puppy Age: <%= params[:age] %></h2>
    </body>
</html>
